html {
  font-size: 15px; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #111111; }

.bienvenidos {
  background: url("../images/fondo-encabezado.jpg") no-repeat center top;
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.encabezado {
  background: #111111;
  color: #FFF;
  padding: 0.5rem 0; }

.encabezado .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.encabezado .logo img {
  width: 150px;
  height: auto; }

/*Estilos para el boton: buscar y menu*/
.boton-buscar, .boton-menu {
  border: 0;
  font-size: 2rem;
  padding: 0.5rem;
  background: transparent;
  color: #FFF; }

/*la propiedad focus le quita el marcado*/
.boton-buscar:focus,
.boton-menu:focus,
.contenedor-bloque-buscar input[type="text"],
[type="submit"] {
  outline: 0; }

/*Alinear boton a la derecha*/
.boton-buscar {
  margin-left: auto;
  margin-right: 0.8rem; }

/*Estilos Bloque Buscar*/
#bloque-buscar {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

.contenedor-bloque-buscar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  margin: 1rem; }

.contenedor-bloque-buscar input[type="text"] {
  border: 0;
  border-radius: 5px 0 0 5px;
  padding: 1rem; }

.contenedor-bloque-buscar input[type="submit"] {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 0;
  border-radius: 0 5px 5px 0;
  background: #12AFAF;
  color: #fff; }

#menu-principal {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

#menu-principal ul {
  padding: 0;
  list-style: none;
  margin: 1rem 0 0 0; }

#menu-principal ul a {
  display: block;
  padding: 0.8rem 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border-top: 1px solid #4e4c4c;
  text-decoration: none; }

#menu-principal ul a:hover,
#menu-principal ul li.active a {
  color: #12AFAF; }

.texto-encabezado .display-4 {
  margin-top: 5rem; }

.texto-encabezado {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.bienvenidos .texto-encabezado .btn-primary {
  margin-top: 1rem; }

.btn-primary {
  color: #fff;
  background: #12AFAF;
  border-color: transparent;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover,
.btn-primary:not(:disabled):not(.disabled):active {
  background: #0da04f;
  border-color: transparent; }

.display-4 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2; }

.flecha-bajar a {
  display: inline-block;
  color: #FFF;
  font-size: 3.5rem;
  -webkit-animation: flecha-animada 2s ease-in-out infinite;
          animation: flecha-animada 2s ease-in-out infinite; }

/*animacion flecha*/
@-webkit-keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
/*----------------------------
SECCION AGENCIA
------------------------------*/
.agencia {
  background: #12AFAF;
  color: #fff; }

.agencia img {
  width: 80%;
  margin: 0 auto;
  display: block; }

/*----------------------------
SECCION TU MEJOR ELECCION
------------------------------*/
.tu-mejor-eleccion h2 span {
  color: #12AFAF; }

.tu-mejor-eleccion ul li h5 {
  margin-top: 0.8rem;
  font-size: 1rem;
  color: #1b1b1b;
  font-weight: bold; }

.tu-mejor-eleccion ul, .tu-mejor-eleccion ul li {
  list-style: none; }

.tu-mejor-eleccion ul li .fas, .tu-mejor-eleccion ul li .far {
  font-size: 2.3rem;
  background: #0da04f;
  width: 4.7rem;
  height: 4.7rem;
  border-radius: 50%;
  line-height: 4.7rem;
  color: #fff; }

.tu-mejor-eleccion ul li {
  min-height: 9rem; }

/*----------------------------
SECCION NUESTROS SERVICIOS
------------------------------*/
.servicios {
  background: url("../images/fondo-servicios.jpg") no-repeat center center;
  color: #fff;
  background-size: cover; }

.servicios article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0; }

.servicios img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  overflow: hidden;
  margin-right: 1rem; }

.servicios h3 {
  margin: 0;
  font-size: 1.1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.servicios h3 a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none; }

/*Pseudo Elemento*/
.servicios h3 a::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f105";
  font-size: 2.2rem;
  margin-left: 1rem;
  opacity: 0.5;
  position: relative;
  left: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.servicios h3 a:hover::after {
  left: -0.5rem;
  opacity: 1;
  color: #12AFAF; }

/*----------------------------
Ultimos Proyectos - Galeria
------------------------------*/
.ultimos-proyectos a {
  text-decoration: none; }

.ultimos-proyectos a h4 {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  color: #111111; }

.ultimos-proyectos .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.3rem 0; }

.ultimos-proyectos .owl-nav button.owl-prev,
.ultimos-proyectos .owl-nav button.owl-next {
  color: #12AFAF;
  font-size: 3rem;
  margin: 0.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: none; }

.ultimos-proyectos .owl-nav button.owl-prev:hover,
.ultimos-proyectos .owl-nav button.owl-next:hover {
  color: #0da04f; }

/*----------------------------
Pie de Pagina
------------------------------*/
.piedepagina {
  background: #111111;
  color: #fff;
  text-align: center;
  font-size: 0.85rem; }

.piedepagina {
  padding-top: 0.5rem; }

.piedepagina .redes-sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0; }

.piedepagina .redes-sociales .fab {
  font-size: 2rem;
  margin: 1rem;
  color: #fff;
  opacity: .7;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.piedepagina .redes-sociales .fab:hover {
  opacity: 1; }

/*----------------------------
Pagina Nosotros
------------------------------*/
.paginas-internas .bienvenidos {
  height: 50vh; }

.paginas-internas .ruta {
  background: #12AFAF;
  color: #fff; }

.paginas-internas .ruta a {
  color: #fff;
  text-decoration: underline; }

.paginas-internas .ruta a:hover {
  text-decoration: none; }

main .card-header {
  background-color: #12AFAF;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

main .card-header:hover {
  background-color: #0da04f; }

main .btn-link {
  color: #fff; }

main .btn-link:hover {
  color: #fff; }

/*----------------------------
Pagina servicios
------------------------------*/
.pagina-servicios .bienvenidos {
  height: 50vh; }

.pagina-servicios .ruta {
  background: #12AFAF;
  color: #fff; }

.pagina-servicios .ruta a {
  color: #fff;
  text-decoration: underline; }

.pagina-servicios .ruta a:hover {
  text-decoration: none; }

.pagina-servicios main {
  background: #7AE8C8; }

.pagina-servicios .iten-servicios {
  background: #fff;
  text-align: center;
  border: 3px solid #62a08e;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem; }

.pagina-servicios .iten-servicios .fas,
.pagina-servicios .iten-servicios .fab {
  font-size: 5rem;
  color: #12AFAF;
  margin-bottom: 1rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.pagina-servicios .iten-servicios:hover .fas,
.pagina-servicios .iten-servicios:hover .fab {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transform: preserve-3d;
          transform: preserve-3d; }

/*----------------------------
Pagina contacto
------------------------------*/
.pagina-contacto .bienvenidos {
  height: 50vh; }

.pagina-contacto .ruta {
  background: #12AFAF;
  color: #fff; }

.pagina-contacto .ruta a {
  color: #fff;
  text-decoration: underline; }

.pagina-contacto .ruta a:hover {
  text-decoration: none; }

/*----------------------------
Ir hacia arriba
------------------------------*/
.ir-arriba {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: #111111;
  text-decoration: none;
  color: #12AFAF;
  opacity: 0.9;
  z-index: 99999; }

.ir-arriba:hover,
.ir-arriba:focus {
  outline: 0;
  text-decoration: none;
  color: #fff; }

/*----------------------------
Media Query
------------------------------*/
@media (min-width: 768px) {
  /*----------------------------
  Menu Principal
  ------------------------------*/
  #menu-principal {
    height: auto !important;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-left: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  #menu-principal ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 0; }

  #menu-principal ul li a {
    padding: 0.5rem;
    text-transform: capitalize;
    margin: 0 0.3rem;
    border-top: 0px;
    border-bottom: 4px solid transparent;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

  #menu-principal ul li.active a,
  #menu-principal ul li a:hover {
    color: #12AFAF;
    border-bottom: 4px solid; }

  .boton-buscar {
    margin-left: 1rem;
    margin-right: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  #bloque-buscar {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: absolute;
    width: 20rem;
    right: 4rem;
    top: 4rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

  /*----------------------------
  Servicios
  ------------------------------*/
  .servicios article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }

  .servicios img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 110px;
            flex: 0 0 110px;
    margin-right: 0;
    margin-bottom: 1rem;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }

  .servicios article:hover img {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-transform: preserve-3d;
            transform: preserve-3d; }

  .servicios h3 a::after {
    display: none; }

  .servicios h3 {
    font-size: 1.5rem;
    margin: 0 0.5rem 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }

  .servicios .btn-secondary {
    margin-top: auto; }

  /*----------------------------
  Paginas Servicios
  ------------------------------*/
  .pagina-servicios main .col-md-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .pagina-servicios main article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .pagina-servicios main article .btn-primary {
    margin-top: auto; } }
@media (min-width: 992px) {
  html {
    font-size: 16px; }

  .bienvenidos {
    background: url("../images/fondo-encabezado-grande.jpg") no-repeat center top;
    background-size: cover; }

  .servicios {
    background: url("../images/fondo-servicios-grande.jpg") no-repeat center center;
    background-size: cover; }

  .tu-mejor-eleccion ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 7rem; }

  .tu-mejor-eleccion ul li .fas,
  .tu-mejor-eleccion ul li .far {
    text-align: center;
    margin-right: 1rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }

  .tu-mejor-eleccion ul li:hover .fas,
  .tu-mejor-eleccion ul li:hover .far {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-transform: preserve-3d;
            transform: preserve-3d;
    background: #12AFAF; }

  .contenedor-eleccion {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0px; }

  .tu-mejor-eleccion ul li h5 {
    margin-top: 0;
    font-size: 1rem; }

  .tu-mejor-eleccion ul:first-child .fas {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 1rem;
    margin-right: 0; }

  .tu-mejor-eleccion ul li p {
    font-size: 0.85rem; } }

/*# sourceMappingURL=styles.css.map */