//------------------------
//PATRON DE COLORES
//-----------------------
$texto:#111111;
$principal:#12AFAF;
$secundario:#0da04f;

html{
    font-size: 15px;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: $texto;
}
.bienvenidos{
    background: url("../images/fondo-encabezado.jpg") no-repeat center top;
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.encabezado{
    background: $texto;
    color: #FFF;
    padding: 0.5rem 0;
}
.encabezado .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.encabezado .logo img{
    width: 150px;
    height: auto;
}
/*Estilos para el boton: buscar y menu*/
.boton-buscar, .boton-menu{
    border: 0;
    font-size: 2rem;
    padding: 0.5rem;
    background: transparent;
    color: #FFF;
}
/*la propiedad focus le quita el marcado*/
.boton-buscar:focus,
.boton-menu:focus,
.contenedor-bloque-buscar input[type="text"],
[type="submit"]{
    outline: 0;
}

/*Alinear boton a la derecha*/
.boton-buscar{
    margin-left: auto;
    margin-right: 0.8rem;
}

/*Estilos Bloque Buscar*/
#bloque-buscar{
    flex: 1 1 100%;
}

.contenedor-bloque-buscar{
    display: flex;
    height: 3rem;
    margin: 1rem;
}

.contenedor-bloque-buscar input[type="text"]{
    border: 0;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
}

.contenedor-bloque-buscar input[type="submit"]{
    flex: 1 1 auto;
    border: 0;
    border-radius: 0 5px 5px 0;
    background: $principal;
    color: #fff;
}
#menu-principal{
    flex: 1 1 100%;
}

#menu-principal ul{
    padding: 0;
    list-style: none;
    margin: 1rem 0 0 0;
}
#menu-principal ul a{
    display: block;
    padding: 0.8rem 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase; 
    border-top: 1px solid rgb(78, 76, 76);
    text-decoration: none;
}

#menu-principal ul a:hover,
#menu-principal ul li.active a{
    color: $principal;
}

.texto-encabezado .display-4{
    margin-top: 5rem;
}
.texto-encabezado{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.bienvenidos .texto-encabezado .btn-primary{
    margin-top: 1rem;
}

.btn-primary{
    color: #fff;
    background: $principal;
    border-color: transparent;
    transition: all .5s ease;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover,
.btn-primary:not(:disabled):not(.disabled):active{
    background: $secundario;
    border-color: transparent;
}
.display-4 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.flecha-bajar a{
    display: inline-block;
    color: #FFF;
    font-size: 3.5rem;
    animation: flecha-animada 2s ease-in-out infinite;    
}

/*animacion flecha*/

@keyframes flecha-animada{
    from{
        transform: translateY(0)
    }
    50%{
        transform: translateY(6px)
    }
    to{
        transform: translateY(0);
    }
}

/*----------------------------
SECCION AGENCIA
------------------------------*/

.agencia{
    background: $principal;
    color: #fff;
}

.agencia img{
    width: 80%;
    margin: 0 auto;
    display: block;
}

/*----------------------------
SECCION TU MEJOR ELECCION
------------------------------*/

.tu-mejor-eleccion h2 span{
    color: $principal;
}

.tu-mejor-eleccion ul li h5{
    margin-top: 0.8rem;
    font-size: 1rem;
    color: rgb(27, 27, 27);
    font-weight: bold;
}

.tu-mejor-eleccion ul, .tu-mejor-eleccion ul li{
   list-style: none;
}

.tu-mejor-eleccion ul li .fas, .tu-mejor-eleccion ul li .far{
    font-size: 2.3rem;
    background: $secundario;
    width: 4.7rem;
    height: 4.7rem;
    border-radius: 50%;
    line-height: 4.7rem;
    color: #fff;
 }

 .tu-mejor-eleccion ul li{
    min-height: 9rem;
}

/*----------------------------
SECCION NUESTROS SERVICIOS
------------------------------*/

.servicios{
    background: url("../images/fondo-servicios.jpg") no-repeat center center;
    color: #fff;
    background-size: cover;
}

.servicios article{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.servicios img{
    flex: 0 0 60px;
    overflow: hidden;
    margin-right: 1rem;
}

.servicios h3{
    margin: 0;
    font-size: 1.1rem;
    flex: 1 1 auto;
}
.servicios h3 a{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

/*Pseudo Elemento*/
.servicios h3 a::after{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 700;
    content: "\f105";
    font-size: 2.2rem;
    margin-left: 1rem;
    opacity: 0.5;
    position: relative;
    left: 0;
    transition: all .5s ease;
}

.servicios h3 a:hover::after{
    left: -0.5rem;
    opacity: 1;
    color: $principal;
}

/*----------------------------
Ultimos Proyectos - Galeria
------------------------------*/

.ultimos-proyectos a{
    text-decoration: none;
}
.ultimos-proyectos a h4{
   font-size: 1.1rem;
   font-weight: bold;
   text-align: center;
   color: $texto;
}

.ultimos-proyectos .owl-nav{
    display: flex;
    justify-content: center;
    margin-top: 0.3rem 0;
}

.ultimos-proyectos .owl-nav button.owl-prev,
.ultimos-proyectos .owl-nav button.owl-next{
    color: $principal;
    font-size: 3rem;
    margin: 0.5rem;
    transition: all 0.5s ease;
    outline: none;
}

.ultimos-proyectos .owl-nav button.owl-prev:hover,
.ultimos-proyectos .owl-nav button.owl-next:hover{
    color: $secundario;
}


/*----------------------------
Pie de Pagina
------------------------------*/
.piedepagina{
    background: $texto;
    color: #fff;
    text-align: center;
    font-size: 0.85rem;
}

.piedepagina{
    padding-top: 0.5rem;
}

.piedepagina .redes-sociales{
    display: flex;
    justify-content: center;
    list-style:none;
    margin: 0;
    padding: 0;
}
.piedepagina .redes-sociales .fab{
    font-size: 2rem;
    margin: 1rem;
    color:#fff;
    opacity: .7;
    transition: all 0.5s ease;
}

.piedepagina .redes-sociales .fab:hover{
    opacity: 1;
}

/*----------------------------
Pagina Nosotros
------------------------------*/

.paginas-internas .bienvenidos{
    height: 50vh;
}
.paginas-internas .ruta{
    background: $principal;
    color: #fff;
}
.paginas-internas .ruta a{
    color: #fff;
    text-decoration: underline;
}
.paginas-internas .ruta a:hover{
    text-decoration: none;
}

main .card-header{
    background-color: $principal;
    transition: all 0.5s ease;
}
main .card-header:hover{
    background-color: $secundario;
}
main .btn-link{
    color: #fff;;
}
main .btn-link:hover{
    color: #fff;
}

/*----------------------------
Pagina servicios
------------------------------*/
.pagina-servicios .bienvenidos{
    height: 50vh;
}
.pagina-servicios .ruta{
    background: $principal;
    color: #fff;
}
.pagina-servicios .ruta a{
    color: #fff;
    text-decoration: underline;
}
.pagina-servicios .ruta a:hover{
    text-decoration: none;
}
.pagina-servicios main{
    background: #7AE8C8;
}

.pagina-servicios .iten-servicios{
    background: #fff;
    text-align: center;
    border: 3px solid rgb(98, 160, 142);
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.pagina-servicios .iten-servicios .fas,
.pagina-servicios .iten-servicios .fab{
    font-size: 5rem;
    color: $principal;
    margin-bottom: 1rem;
    transition: all 1s ease;
}
.pagina-servicios .iten-servicios:hover .fas,
.pagina-servicios .iten-servicios:hover .fab{
    transform: rotateY(360deg);
    transform: preserve-3d;
}

/*----------------------------
Pagina contacto
------------------------------*/
.pagina-contacto .bienvenidos{
    height: 50vh;
}
.pagina-contacto .ruta{
    background: $principal;
    color: #fff;
}
.pagina-contacto .ruta a{
    color: #fff;
    text-decoration: underline;
}
.pagina-contacto .ruta a:hover{
    text-decoration: none;
}

/*----------------------------
Ir hacia arriba
------------------------------*/
.ir-arriba{
position: fixed;
bottom: 1rem;
right: 1rem;
font-size: 3rem;
color: $texto;
text-decoration: none;
color: $principal;
opacity: 0.9;
z-index: 99999;
}

.ir-arriba:hover,
.ir-arriba:focus{
    outline: 0;
    text-decoration: none;
    color: #fff;
}

/*----------------------------
Media Query
------------------------------*/

@media (min-width:768px){
/*----------------------------
Menu Principal
------------------------------*/
#menu-principal{
    height: auto !important;
    display: block;
    flex: 0 1 auto;
    margin-left: auto;
    order: 1;

}
#menu-principal ul{
    display: flex;
    margin: 0 0 0 0;
}

#menu-principal ul li a{
    padding: 0.5rem;
    text-transform: capitalize;
    margin: 0 0.3rem;
    border-top: 0px;
    border-bottom: 4px solid transparent;
    transition: all 0.5s ease; 
}
#menu-principal ul li.active a,
#menu-principal ul li a:hover{
    color: $principal;
    border-bottom: 4px solid;
}
.boton-buscar{
    margin-left: 1rem;
    margin-right: 0;
    order: 2;
}

#bloque-buscar{
    order: 3;
    position: absolute;
    width: 20rem;
    right: 4rem;
    top: 4rem;
    transition: all 0.5s ease; 
}
/*----------------------------
Servicios
------------------------------*/
.servicios article{
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.servicios img{
    flex: 0 0 110px;
    margin-right: 0;
    margin-bottom: 1rem;
    transition: all 1s ease;
}
.servicios article:hover img{
    transform: rotateY(360deg);
    transform: preserve-3d;
}
.servicios h3 a::after{
    display: none;
}
.servicios h3 {
    font-size: 1.5rem;
    margin: 0 0.5rem 0;
    flex: 0 1 auto;
}

.servicios .btn-secondary{
    margin-top: auto;
}

/*----------------------------
Paginas Servicios
------------------------------*/
.pagina-servicios main .col-md-4{
    display: flex;
}
.pagina-servicios main article{
    display: flex;
    flex-direction: column;
}
.pagina-servicios main article .btn-primary{
    margin-top: auto;
}
}

@media (min-width:992px){
    html{
        font-size: 16px;
    }
    .bienvenidos{
        background: url("../images/fondo-encabezado-grande.jpg")no-repeat center top;
        background-size: cover;
    }
    .servicios{
        background: url("../images/fondo-servicios-grande.jpg")no-repeat center center;
        background-size: cover;
    }
    .tu-mejor-eleccion ul li{
        display: flex;
        min-height: 7rem;
    }
    .tu-mejor-eleccion ul li .fas,
    .tu-mejor-eleccion ul li .far{
        text-align: center;
        margin-right: 1rem;        
        flex: 0 1 auto;
        transition: all 1s ease;
    } 
    .tu-mejor-eleccion ul li:hover .fas,
    .tu-mejor-eleccion ul li:hover .far{
    transform: rotateY(360deg);
    transform: preserve-3d;
    background: $principal;

    }
    .contenedor-eleccion{
        flex: 1 0 0px;
    }
    .tu-mejor-eleccion ul li h5{
        margin-top: 0; 
        font-size: 1rem;
    }
    .tu-mejor-eleccion ul:first-child .fas{
        order: 1;
        margin-left: 1rem;
        margin-right: 0;
    }
    .tu-mejor-eleccion ul li p{
        font-size: 0.85rem;     
    }
}


































































